@model IEnumerable<CentroMedico.Models.CitaDetalladaMedicos>

<h1>CitasPaciente</h1>

<p>
    <a asp-controller="CentroMedico" asp-action="ZonaPaciente" class="btn btn-dark">Back</a>
</p>

<h4>Filtro Porr Fechas</h4>
<form method="post">
    <label>Desde: </label>
    <input type="date" name="fechadesde" class="form-control" />
    <label>Hasta: </label>
    <input type="date" name="fechahasta" class="form-control" /><br/>
    <button class="btn btn-success">
        Buscar
    </button>
</form>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (CitaDetalladaMedicos citas in Model)
    {
        <div class="col">
            <div class="card">
                <div class="card-header">@citas.Fecha</div>
                <div class="card-body">
                    <h5 class="card-title">@citas.Hora</h5>
                    <p class="card-text">Nombre Medico : @ViewData["NOMBREMEDICO"]</p>
                    <p class="card-text">Nombre Paciente: @citas.NombrePaciente @citas.ApellidoPaciente</p>
                    <p>
                        @if (citas.Fecha < DateTime.Now)
                        {
                            <a asp-controller="CentroMedico" asp-action="DetallesCitaPaciente" asp-route-idcita="@citas.Id" class="btn btn-info">Detalles</a>
                        }
                        else
                        {
                            <a asp-controller="CentroMedico" asp-action="DetallesCitaPaciente" asp-route-idcita="@citas.Id" class="btn btn-info">Detalles</a>
                            <a asp-controller="CentroMedico" asp-action="DeleteCitaPaciente" asp-route-idcita="@citas.Id" class="btn btn-danger">Anular</a>
                            <a asp-controller="CentroMedico" asp-action="UpdateCitaPaciente" asp-route-idcita="@citas.Id" class="btn btn-warning">Cambiar</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>

