@model CentroMedico.Models.Cita

@{
    ViewData["Title"] = "DetailsCita";
}

<h1>DetailsCita</h1>

<p>
    <a asp-controller="CentroMedico" asp-action="ZonaAdmin" class="btn btn-dark">Back</a>
</p>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeguimientoCita)
        </dt>
        <dd class = "col-sm-10">
            @ViewData["NOMBRESEGUIMIENTO"]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="CentroMedico" asp-action="DetailsMedico" asp-route-idMedico="@Model.Medico">@ViewData["NOMBREMEDICO"]</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="CentroMedico" asp-action="DetailsPaciente" asp-route-idPaciente="@Model.Paciente">@ViewData["NOMBREPACIENTE"]</a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
