@model List<CitaDetalladaMedicos>

<h1 style="text-align:center">Lista de Registros de Citas</h1>
<p style="text-align:center">
    <a asp-controller="CentroMedico" asp-action="ZonaMedico" class="btn btn-dark">Back</a>
</p>

<form method="post">
    <label>Selecciona Fecha: </label>
    <input type="date" name="fecha" class="form-control" />
    <br />
    <button class="btn btn-success">
        Buscar
    </button>
</form>
<br />
<div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (CitaDetalladaMedicos miscitas in Model)
        {
            <div class="col">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Fecha: @miscitas.Fecha.ToString("MMMM dd, yyyy") Hora: @miscitas.Hora </div>
                    <div class="card-body text-dark">
                        <h5 class="card-title">Paciente: @miscitas.NombrePaciente @miscitas.ApellidoPaciente </h5>
                        @if (miscitas.IdEstadoCita != 1)
                        {
                            <a asp-controller="CentroMedico" asp-action="CitaMedicaFinal" asp-route-idcita="@miscitas.Id" class="btn btn-secondary">Entrar</a>
                            <span class="text text-danger">Cita Finalizada</span>
                        }
                        else
                        {
                            <a asp-controller="CentroMedico" asp-action="CitaMedicaFinal" asp-route-idcita="@miscitas.Id" class="btn btn-info">Entrar</a>
                        }
                    </div>
                </div>
            </div>
        }
</div>