@model IEnumerable<CentroMedico.Models.MedicosPacientes>

@{
    ViewData["Title"] = "MisPacientes";
}

<h1>MisPacientes</h1>

<p>
    <a asp-controller="CentroMedico" asp-action="ZonaMedico">
        Back
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                <a asp-controller="CentroMedico" asp-action="DetailsPaciente" asp-route-idpaciente="@item.Paciente" class="btn btn-outline-success">Ver Informacion</a>
            </td>
        </tr>
}
    </tbody>
</table>
