@model Usuario

<h1>Zona Medico</h1>

<h1>Bienvenido : @Model.Nombre</h1>

<h3>Opciones:</h3>
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="PerfilMedico" asp-route-idMedico="@Model.Id">Perfil</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="MisPacientes" asp-route-idMedico="@Model.Id">Mis Pacientes</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="CentroMedico" asp-action="MisCitasMedico">Mis citas</a>
    </li>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Solicitar Peticiones Alta/Baja/Nuevo
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="CentroMedico" asp-action="CreatePeticionSinIdMedico" asp-route-idMedico="@Model.Id">Nuevo Medicamento</a></li>
                <li><a class="dropdown-item" asp-controller="CentroMedico" asp-action="CreatePeticionConIdMedico" asp-route-idMedico="@Model.Id">Actualizar Medicamento</a></li>
            </ul>
        </li>
    </ul>
</ul>